/* p{color: yellowgreen; background-color: rgb(50, 107, 107);font-size: xx-large;}
h1{color: violet;background-color: bisque;font-size: xx-large;} */
.abc{background-color: violet;}

#a{color: black; background-color: aquamarine;}
#b{background-color: turquoise;}
#c{background-color: rgb(0, 201, 150);}
#d{background-color: #008080;}